@import "tailwindcss";

@font-face {
  font-family: "vazir black";
  src: url("/fonts/vazir/Vazir-Black-FD.woff2") format("woff2");
}

@font-face {
  font-family: "vazir bold";
  src: url("/fonts/vazir/Vazir-Bold-FD.woff2") format("woff2");
}

@font-face {
  font-family: "vazir light";
  src: url("/fonts/vazir/Vazir-Light-FD.woff2") format("woff2");
}

@font-face {
  font-family: "vazir medium";
  src: url("/fonts/vazir/Vazir-Medium-FD.woff2") format("woff2");
}

@font-face {
  font-family: "vazir regular";
  src: url("/fonts/vazir/Vazir-Regular-FD.woff2") format("woff2");
}

@font-face {
  font-family: "vazir thin";
  src: url("/fonts/vazir/Vazir-Thin-FD.woff2") format("woff2");
}

:root {
  --default-color: var(--color-fuchsia-600);
  --hover-color: var(--color-fuchsia-700);
}

@custom-variant dark (&:where(.dark, .dark *));

html.fuchsia {
  --default-color: var(--color-fuchsia-600);
  --hover-color: var(--color-fuchsia-700);
}

html.dark.fuchsia,
html.dark {
  --default-color: var(--color-fuchsia-500);
  --hover-color: var(--color-fuchsia-600);
}

html.amber {
  --default-color: var(--color-amber-600);
  --hover-color: var(--color-amber-700);
}

html.rose {
  --default-color: var(--color-rose-600);
  --hover-color: var(--color-rose-700);
}

html.violet {
  --default-color: var(--color-violet-600);
  --hover-color: var(--color-violet-700);
}

html.dark.violet {
  --default-color: var(--color-violet-500);
  --hover-color: var(--color-violet-600);
}

html.sky {
  --default-color: var(--color-sky-600);
  --hover-color: var(--color-sky-700);
}

html.dark.sky {
  --default-color: var(--color-sky-500);
  --hover-color: var(--color-sky-600);
}

html.emerald {
  --default-color: var(--color-emerald-600);
  --hover-color: var(--color-emerald-700);
}

html.dark.emerald {
  --default-color: var(--color-emerald-500);
  --hover-color: var(--color-emerald-600);
}

html.lime {
  --default-color: var(--color-lime-600);
  --hover-color: var(--color-lime-700);
}

@theme {
  --font-vazir-black: "vazir black", sans-serif;
  --font-vazir-bold: "vazir bold", sans-serif;
  --font-vazir-light: "vazir light", sans-serif;
  --font-vazir-medium: "vazir medium", sans-serif;
  --font-vazir: "vazir regular", sans-serif;
  --font-vazir-thin: "vazir thin", sans-serif;
  --font-roboto: "Roboto Mono", monospace;

  --color-theme: var(--default-color);
  --color-hover: var(--hover-color);
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-theme/50 cursor-pointer rounded-full border-x border-x-transparent;
  }
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@utility sidebar-nav-item {
  .active {
    @apply bg-theme/5 text-theme;
  }
}

@utility navigation {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-transparent transition-all;
  }

  &:hover&::-webkit-scrollbar-thumb {
    @apply bg-theme/20;
  }
}
